.Category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 83px auto 0;
  width: 90vw;
}

.Product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 2.2%;
  width: 20%;
  padding-bottom: 10px;

  text-align: center;
  background-color: white;

  box-sizing: border-box;
}

.Product:nth-child(2n) {
  margin-bottom: 5%;
}

.ProductIncrementation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  margin: 0 auto;
}

.ProductIncrementation__quantity {
  font-size: 1.2rem;
}

.ProductIncrementation__moreless {
  font-size: 2rem;
  font-weight: 700;

  cursor: pointer;
}



.Product__Name {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4em;
  font-weight: 500;
}

.Product__Image {
  width: 100%;
  max-height: 30vh;
}