.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// MARK: PRODUCTS

.HomePage {
  width: 90vw;
  margin: 108px auto 0;
}

.HomeCategory {
  margin: 0 0 60px;
}

.HomeCategory__Name {
  margin: 0 0 30px;

  text-transform: uppercase;
}

.RowProducts {
  display: flex;
  justify-content: space-between;

  margin: 0px 10px 30px;
}

.RowProducts .Product {
  margin: 0;
}